{% extends 'template.html' %}
{% block corpo %}

<div>
    <form action="/marketplace/create">
      <label >Nome: </label>
      <input type="text" name="name" placeholder="Nome" required>
      <br>
      <br>
      <label >Descrição: </label>
      <input type="text" name="description" placeholder="Descrição" required>
      <br>
      <input type="submit" value="Salvar">
      <br>
      <br>
    </form>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-3">
      <a class="btn btn-light btn-outline-secondary" href='/'>Voltar</a>
    </div>
  </div>

{% endblock %}